html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

@font-face {
  font-family: 'Mechanic';
  src:url('./fonts/Mechanical.otf') format('opentype');
}

@font-face {
  font-family: 'Title-Sans';
  src:url('./fonts/AsimovWid.otf') format('opentype');
}

@font-face {
  font-family: 'Body-Sans';
  src:url('./fonts/AsimovNar.otf') format('opentype');
}

.top-nav{
  margin-top: 5px;
  font-family: "Mechanic", sans-serif;
  font-size: 16px;
}

p{
  font-family: "Mechanic", sans-serif;
  font-size: 20px;
}

h1,h2,h3{
  font-family: "Title-Sans", sans-serif;
}

h3{
  font-size: 20px;
}

 .logo-lg{
   padding-top: 10px;
 }

.about-copy{
     padding-top: 20px;
}

.social-icon{
  margin-right: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 10px;
}

.artist-listing{
  margin-bottom: 25px;
}

a:link, a:visited{
    color: #C71585;
}
a:hover {
    color: hotpink;
}
a:active {
    color: #C71585;
}

.social-media-i:link,
.social-media-i:visited{
    color: #000;
}

.social-media-i:hover{
  color: hotpink;
}

.social-media-i:active {
    color: white;
}

@media only screen and (min-width: 768px) {
  .footer{
    background-color: #f5f5f5;
  }

  /*#mc_embed_signup{
    max-width: 60%
  }*/

  h1{
    font-size: 30px;
    padding-top: 17px;
    color:#999;
  }
}

@media only screen and (max-width: 767px) {
  .footer{
    background-color: #fff;
  }

  /*#mc_embed_signup{
    max-width: 100%
  }*/

  h1{
    font-size: 25px;
    padding-top: 5px;
    color:#999;
  }
}

#mc_embed_signup form {
  text-align: left;
  margin-bottom: 20px;
}

#mc_embed_signup .button{
  color: #C71585;
  background-color: #fff;
  font-family: "Mechanic", sans-serif;
  font-size: 18px;
  border: 1px solid #C71585;
}

#mc_embed_signup .button:focus,
#mc_embed_signup .button:active,{
  background-color: #fff;
}

#mc_embed_signup .button:hover{
  background-color: #f5f5f5;
}

.artist-image{
  width:80%;
  height:auto;
}
.present-artwork{
  background-color:lightgrey;
  padding:20px;
}
.work-title{
  font-size: 22px;
  color:black;
  margin-top: 5px;
  margin-bottom: 30px;
}

/*----------PRICE MATRIX------------*/
.price-matrix{
  max-width:500px;
  min-width:300px;
  margin-left: auto;
  margin-right: auto;
}

.price-matrix table{
  width:100%;
  border-color: black;
}

.price-matrix table td{
  text-align: left;
  padding:10px;
  width:85%;
  font-family: "Body-Sans", sans-serif;
  font-size: 1em;
}

.price-matrix .table-bordered {
    border: 2px solid #000;
}

.price-matrix h3 {
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 0px;
}

/*.available{
  background-color:rgba(0, 255, 0, 0.5);
}

.unavailable{
  background-color:rgba(255, 0, 0, 0.5);
}*/

.contact-us{
  width:100%;
}

.price-matrix{
  margin-bottom: 10px;
}
.price-matrix .btn{
  color: #C71585;
  background-color: #fff;
  font-family: "Mechanic", sans-serif;
  font-size: 18px;
  border: 1px solid #C71585;
  margin-top: 5px;
}

.price-matrix .btn:hover{
  background-color: #f5f5f5;
}
.price-matrix .btn:link,
.price-matrix .btn:visited{
    color: #000;
}

.price-matrix .subtext{
  padding-top: 5px;
}
.price-matrix em{
  font-family: "Body-Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
}
