body{
  margin:0px;
  padding:0px;
}


@font-face {
  font-family: 'Mechanic';
  src:url('../fonts/Mechanical.otf') format('opentype');
}

@font-face {
  font-family: 'Title-Sans';
  src:url('../fonts/AsimovWid.otf') format('opentype');
}

@font-face {
  font-family: 'Body-Sans';
  src:url('../fonts/AsimovNar.otf') format('opentype');
}

/*--------------NAV----------------*/
#nav{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  text-align: center;
}

.nav-member{
  display: inline;
  /*font-family: 'Space Mono', monospace;
  font-family: 'Karla', sans-serif;*/
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  text-align: center;
}

.social-media-call-to-action{
  padding-left: 25px;
}

.lead{
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .nav-member{
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
  }

  p{
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    padding-top: 10px;
  }
  .question{
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  .nav-member{
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  #nav{
    padding-top: 10px;
  }
  p{
      font-family: 'Space Mono', monospace;
      font-size: 14px;
      padding-top: 20px;
  }
  .question{
    font-family: 'Yantramanav', sans-serif;
    font-weight: bold;
  }

}



a:link, a:visited{
    color: #C71585;
}
a:hover {
    color: #ff69b4 ;
}
a:active {
    color: #C71585;
}

/*------------SIGNUP FORM--------------*/
#mc_embed_signup form {
  text-align: left;
  margin-bottom: 20px;
}

#mc_embed_signup .button{
  color: #C71585;
  background-color: #fff;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  border: 1px solid #C71585;
}

#mc_embed_signup .button:focus,
#mc_embed_signup .button:active,{
  background-color: #fff;
}

#mc_embed_signup .button:hover{
  background-color: #f5f5f5;
}

.faq-text{
  font-size: 16px;
  margin-top:30px;
}

.about-text{
  font-size: 16px;
  margin-top:30px;
}

.logo-lg{
  margin-top: 10px;
}
